-# category
-# chronology
%section.section.intro.uk-text-lead
  = "Category: #{category.theme}"
  :css
    .check-box-like-tag {
      display: none;
    }
    .check-box-like-tag + label {
      cursor: pointer;
      padding:5px;
      border-radius: 5px;
    }
    .check-box-like-tag + label {
      background-color: gray;
      border: 1px dashed;
      opacity: 0.3;
    }
    .check-box-like-tag:checked + label {
      background-color: orange;
      border: 1px solid;
      opacity: 1.0;
    }
  - category_tags = category.tag_list
  - Tag.all.each do |tag|
    - checked = category_tags.include?(tag.name)
    - tag_post_url = checked ? remove_tag_category_path(category) : add_tag_category_path(category)
    = form_for Tag.new, remote: true, url: tag_post_url, authenticity_token: true, html: { class: "form form-inline uk-display-inline"} do |f|
      = f.hidden_field :tag, value: tag.name
      = f.check_box :tags, { multiple: true, checked: checked , class: 'check-box-like-tag', id: "category_#{category.id}_tag_#{tag.id}" }, tag.name
      %label{ for: "category_#{category.id}_tag_#{tag.id}", onclick: 'this.form.submit();' }
        = tag.name
= form_for Image.new, html: { class: "form form-inline image mydropzone" }, data: { 'link-target': "#js-event-form-#{category.id}"} do |f|
  .form-group
    .col-lg-offset-2.col-lg-10
      .fallback
        = f.file_field :file
= form_for Event.new, remote: true, html: { class: "form form-inline uk-margin-small-bottom", id: "js-event-form-#{category.id}" } do |f|
  = f.text_field :title, class: "form-control js-clear_target_#{category.id}", required: true, placeholder: 'title'
  = f.error_span(:title)
  = f.hidden_field :chronology_id, value: chronology.id
  = f.hidden_field :category_id, value: category.id
  = f.hidden_field :image_id, value: ''
  = f.number_field :year, class: 'form-control', required: true, placeholder: 'year', min: 1900, max: 2050, value: Date.current.year
  = f.number_field :month, class: 'form-control', required: true, placeholder: 'month', min: 1, max: 12, value: Date.current.month
  = f.text_field :url, class: "form-control  js-clear_target_#{category.id}", required: false, placeholder: 'url'
  = f.submit nil,class: 'btn btn-success'
%section.timeline
  .js-timeline-content{ id: "js-timeline-content-#{category.id}" }
    = render 'chronologies/timeline_content', category: category
  .arrows
    %button.arrow.arrow__prev.disabled{:disabled => "disabled"}
      %img{:alt => "prev timeline arrow", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg"}/
    %button.arrow.arrow__next
      %img{:alt => "next timeline arrow", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg"}/
