- content_for :head do
  = stylesheet_link_tag 'chronologies/cards.css'
-# %header#site-head
  .uk-container.uk-container-expand
    .uk-grid.uk-grid-medium.uk-flex.uk-flex-middle{"data-uk-grid" => ""}
      .uk-width-expand
        %form#search-form{:action => ""}
          .uk-inline.uk-width-1-1
            %span.uk-form-icon.uk-form-icon-flip{'data-uk-icon': 'icon: search'}
            %input.uk-input.uk-width-1-1.search-fld{autofocus: '', placeholder: 'Type your search', type: 'text'}/
            %a.search-filter{'data-uk-filter-control': '[data-tags*='']', hidden: '', href: '#'} Search
%section.uk-section.uk-section-small.uk-padding-remove-bottom
  .uk-container.uk-container-expand.uk-margin-large-bottom
    .uk-grid.uk-grid-medium.uk-grid-match.js-filter{:class => "uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-child-width-1-5@xl", "data-uk-grid" => "masonry: true", "data-uk-sortable" => "handle: .drag-icon"}
      .nature-card{'data-tags': 'a beautiful landscape - nature outdoor'}
        .uk-card.uk-card-small.uk-card-default
          = link_to new_chronology_path, class: 'uk-position-center' do
            %div{ 'uk-icon': 'icon: plus-circle; ratio: 8' }
      - @chronologies.each do |chronology|
        .nature-card{'data-tags': 'a beautiful landscape - nature outdoor'}
          .uk-card.uk-card-small.uk-card-default
            .uk-card-header
              .uk-grid.uk-grid-small.uk-text-small{'data-uk-grid': ''}
                .uk-width-expand
                  %h6.uk-margin-small-bottom.uk-margin-remove-adjacent.uk-text-bold
                    = link_to chronology.title, view_chronologies_path(chronology.token)
                .uk-width-auto.uk-text-right.uk-text-muted
                  %span{'data-uk-icon': 'icon:clock; ratio: 0.8'}
                  = l chronology.created_at, format: :short
            .uk-card-media
              .uk-inline-clip.uk-transition-toggle.uk-width-1-1.uk-text-center{:tabindex => "0"}
                = link_to view_chronologies_path(chronology.token) do
                  = image_tag 'note_kurorekishi.png', style: 'max-height: 300px; max-width: 300px;', class: 'lazy', data: { height: '250', width: 300, 'uk-img': '', src: asset_url('note_kurorekishi.png') }
                .uk-transition-slide-bottom.uk-position-bottom.uk-overlay.uk-overlay-primary
                  = chronology.description
            .uk-card-footer
              .uk-grid.uk-grid-small.uk-grid-divider.uk-flex.uk-flex-middle{"data-uk-grid" => ""}
                .uk-width-expand.uk-text-small
                  = chronology.user.email
= javascript_include_tag 'chronologies/cards'
