- content_for :head do
  = stylesheet_link_tag 'chronologies/view.css'
  = javascript_include_tag 'chronologies/view.js'
= form_tag tagged_chronologies_path, method: 'get' do
  .uk-inline.uk-width-1-1
    .uk-inline
      - Tag.all.each do |tag|
        - checked = params[:filter_tags]&.include? tag.name # TODO
        = check_box_tag 'filter_tags[]', tag.name, checked, { multiple: true, class: 'check-box-like-tag', id: "tag_#{tag.id}" }
        %label{ for: "tag_#{tag.id}" }
          = tag.name
    .uk-inline.uk-light
      = submit_tag 'Search', class: 'uk-button uk-button-primary'
%h1.uk-heading-xlarge.uk-text-left.uk-text-bold{style: 'color: white;'}
  ="#{params[:filter_tags]}で検索"

%section.timeline
  = render 'chronologies/timeline_content', events: @events
