- content_for :head do
  = stylesheet_link_tag 'chronologies/view.css'
  = javascript_include_tag 'chronologies/view.js'
%h1.uk-heading-xlarge.uk-text-left.uk-text-bold{style: 'color: white;'}
  ="Title: #{t '.title', default: @chronology.title}"

.category_wrap
  - @chronology.categories.each do |c|
    = render 'category_and_timeline', category: c, chronology: @chronology
= form_for Category.new, remote: true, html: { class: "form form-inline uk-margin-small-bottom" } do |f|
  = f.text_field :theme, class: 'form-control', required: true, placeholder: 'theme'
  = f.hidden_field :chronology_id, value: @chronology.id
  = f.submit nil,class: 'btn btn-primary'
