= stylesheet_link_tag 'chronologies/view.css'
%h1.uk-heading-xlarge.uk-text-left.uk-text-bold{style: 'color: white;'}
  ="Title: #{t '.title', default: @chronology.title}"

- @chronology.categories.each do |c|
  %section.section.intro.uk-text-lead
    = "Category: #{c.theme}"
  %section.timeline
    %ol
      - c.events.each do |e|
        %li
          %div
            %time="#{e.year}-#{e.month}"
            = e.title
