:javascript
  $(function (){
    Dropzone.autoDiscover = false;
    $(".mydropzone").each( (idx, element) => {
      var option = {
        maxFilesize: 1,
        paramName: 'image[file]',
        success: function(file, response){
          append_target_id = $(element).data('link-target');
          append_target = $(append_target_id);
          append_target.find('#event_image_id').val(response.id);
          append_target.prepend('<img src="' + file.dataURL + '" style= "max-height: 50px;"/>');
          $(element).remove();
        }
      };
      new Dropzone(element, option);
    });
    $(".mydropzone").append('<div class="dz-default dz-message"><span uk-icon="icon: cloud-upload"></span><span>Drop files here or click to upload.</span>');
  });
- content_for :head do
  = stylesheet_link_tag 'chronologies/view.css'
  = javascript_include_tag 'chronologies/view.js'
%h1.uk-heading-xlarge.uk-text-left.uk-text-bold{style: 'color: white;'}
  ="Chronology Title: #{t '.title', default: @chronology.title}"

.category_wrap
  - @chronology.categories.each do |c|
    = render 'category_and_timeline', category: c, chronology: @chronology
= form_for Category.new, remote: true, html: { class: "form form-inline uk-margin-small-bottom" } do |f|
  = f.text_field :theme, class: 'form-control', required: true, placeholder: 'theme'
  = f.hidden_field :chronology_id, value: @chronology.id
  = f.submit nil,class: 'btn btn-primary'
