= form_for @category, html: { class: "form form-horizontal category" } do |f|
  .form-group
    = f.label :theme, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :theme, class: 'form-control', required: true
    = f.error_span(:theme)
  .form-group
    = f.label :chronology_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :chronology_id, class: 'form-control', required: true
    = f.error_span(:chronology_id)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), categories_path, :class => 'btn btn-default'
