!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "AnyHistory"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"
    = yield(:head)

  %body
    .uk-container.uk-container-expand.uk-background-default.uk-margin-small
      %nav.uk-navbar-container.uk-navbar-transparent{"data-uk-navbar" => ""}
        .uk-navbar-left
          .uk-navbar-item
            %a.uk-logo{:href => root_path}
              %i{ 'data-uk-icon': 'history' }
              AnyHistory
        .uk-navbar-right
          %ul.uk-navbar-nav
            %li
              = link_to cards_chronologies_path do
                %i{ 'data-uk-icon': 'history' }
                chronologies

            - unless logged_in?
              %li= link_to 'ログイン', auth_at_provider_path(provider: :google), class: 'uk-button uk-button-default'
            - else
              %li.uk-button.uk-button-small= link_to 'ログアウト', logout_path, method: :delete, class: ''
    .uk-container.uk-container-expand
      = bootstrap_flash
      = yield
    %footer
